# Node.js
/site/node_modules
/site/.pnp
/site/.pnp.js
/site/.yarn/install-state.gz

# Testing
/site/coverage

# Next.js
/site/.next/
/site/out/

# Production
/site/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Digiup WordPress (ignore everything except the digiup theme)
/digiup/.vscode/
/digiup/.DS_Store
/digiup/package-lock.json
/digiup/node_modules/

/digiup/wordpress/*
/digiup/!wordpress/wp-content
/digiup/wordpress/wp-content/*
/digiup/!wordpress/wp-content/themes*
!/digiup/wordpress/wp-content/themes/digiup