/* CSS Dev by Gabriel Stroligo - stroligo.dev */
//Import Font from Google
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@layer base {
  /* General Configs */
  html {
    @apply scroll-smooth font-manrope  text-base antialiased;
    body {
      @apply cursor-default bg-gradient-to-r from-digiup-gray-50 from-5% via-white via-30% to-white  text-digiup-gray-500;
      /* Adjust Deg */
      background-image: linear-gradient(162deg, var(--tw-gradient-stops));
      .container {
        /* Max width container */
        @apply max-w-6xl;
      }
    }
  }
  /* Tags Configs */
  h2,
  h3,
  h4 {
    @apply block text-digiup-gray-600;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  h2 {
    /* Size 46px */
    /* Size Mobile 36.8px */
    /* LineHeight 54px */
    @apply text-[2.3rem] leading-[3.375rem] md:text-[2.875rem];
  }
  h3 {
    /* Size 40px */
    /* Size Mobile 32px */
    /* LineHeight 52px */
    @apply text-[2rem] font-bold leading-[3.25rem] md:text-[2.5rem];
  }
  h4 {
    /* Size 32px */
    /* Size Mobile 25.6px */
    /* LineHeight 40px */
    @apply text-[1.6rem] font-bold leading-[2.5rem] md:text-[2rem];
  }
  h5 {
    /* Size 20px */
    /* Size Mobile 16px */
    /* LineHeight 20px */
    @apply text-base font-bold leading-5 text-digiup-blue-100 md:text-xl;
  }
  p {
    @apply block text-sm md:text-base;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    &.subtitle {
      @apply font-semibold text-digiup-gray-200;
    }
    a {
      @apply font-bold;
    }
  }
  a {
    @apply font-semibold text-digiup-blue-200;
  }
  hr {
    @apply h-[2px] w-full rounded-full border-t-0 bg-digiup-light-blue-100;
  }
  .btn {
    @apply flex items-center gap-2 rounded-xl bg-digiup-blue-300 px-5 py-4 text-2xl font-bold text-white;
  }
  .gradient-text {
    @apply bg-gradient-text from-digiup-light-blue-500 to-digiup-light-blue-600 bg-clip-text font-extrabold text-transparent;
    /* To customize degree */
    /* background-image: linear-gradient(30deg, var(--tw-gradient-stops)); */
  }
  /* Format Card Default */
  .card {
    @apply relative z-10 rounded-3xl p-10 drop-shadow-appointment;
    &::before {
      @apply absolute -bottom-0.5 -left-0.5 -right-0.5 -top-0.5 rounded-inherit border-inherit bg-gradient-linear-appointment from-digiup-light-blue-300 to-digiup-light-blue-400 content-[""];
    }
    &::after {
      @apply absolute left-0 top-0 h-full w-full rounded-[23px] bg-gradient-radial-appointment from-white from-30% to-digiup-gray-25 to-90% content-[""];
    }
    .interna {
      @apply relative z-10;
    }
  }
  /* Format Forms */
  .text-label {
    @apply flex items-center font-semibold text-digiup-gray-300;
    .icon {
      @apply mr-2 fill-digiup-blue-300;
    }
  }
  .form-simple {
    .form-input,
    .form-textarea,
    .form-select,
    .form-multiselect,
    .form-checkbox,
    .form-radio {
      @apply mt-4 block rounded-xl border-digiup-gray-100 bg-white p-[18px] font-semibold placeholder:text-digiup-gray-100 focus:border-digiup-light-blue-100 focus:ring focus:ring-digiup-light-blue-200 focus:ring-opacity-50;
    }
  }
  .oculto {
    @apply hidden;
  }
}

@layer components {
  /* Navebar Header */
  nav {
    @apply overflow-hidden;
    .logo {
      @apply transition-all duration-300 ease-in-out;
      &:hover {
        @apply drop-shadow-md;
      }
    }
    ul {
      @apply hidden items-center gap-8 font-semibold text-digiup-gray-600 md:flex;
      a {
        @apply w-fit px-1 font-semibold transition-all duration-150 ease-in-out;
        &:hover {
          @apply border-digiup-blue-100 pb-1 font-bold text-digiup-blue-100 md:border-b-2;
        }
      }
    }
    .btn-join {
      @apply relative px-5 py-2 text-xl font-bold leading-none text-white md:px-6 md:py-4 md:text-2xl;

      &:hover {
        @apply drop-shadow-md transition-all duration-500  ease-in-out;
        span {
          @apply drop-shadow-md transition-all duration-300 ease-in-out;
        }
        &::before {
          @apply opacity-60;
        }
      }
      &::before {
        @apply absolute bottom-[-5%] left-0 -z-20 h-[48px] w-[110%] rounded-[100%] bg-digiup-blue-200  opacity-40 blur-lg transition-all duration-500 ease-in-out content-[""];
      }
      &::after {
        @apply absolute left-0 top-0 -z-10 h-full  w-full rounded-xl bg-gradient-to-r from-digiup-light-blue-600 to-digiup-light-blue-200  content-[""];
        background: linear-gradient(-61deg, var(--tw-gradient-stops));
      }
    }

    /* Formatação do Menu Responsivo */
    .menuMobile {
      @apply fixed right-0 top-20 z-30 flex h-auto w-full flex-col gap-8 bg-digiup-gray-100 px-6 py-10 text-white transition-transform duration-300 ease-linear md:hidden;
      transform: translateX(100%);
      ul {
        @apply mb-0 flex flex-col items-center gap-2 text-white;
      }
      .btn-join {
        @apply mb-0;
        &::before {
          @apply hidden;
        }
      }
      .social {
        @apply mb-0 flex flex-row justify-center gap-3;
        svg {
          @apply fill-digiup-light-blue-600 transition-all duration-300 ease-in-out;
        }
      }
    }
    .btn-burguer,
    .btn-close {
      @apply hidden h-10 w-10 cursor-pointer items-center justify-center;
    }

    #toggle-menuMobile:not(:checked) + div .btn-burguer,
    #toggle-menuMobile:checked + div .btn-close {
      @apply flex;
    }

    #toggle-menuMobile:checked ~ .menuMobile {
      transform: translateX(0);
    }
  }
  /* Footer */
  footer {
    a {
      @apply w-fit font-medium transition-all duration-150 ease-in-out;
      &:hover {
        @apply text-digiup-blue-300 md:underline;
      }
    }
    .menu {
      @apply grid flex-1 grid-cols-2 gap-4 text-sm md:grid-cols-3 md:gap-6 md:text-base;
      span {
        @apply mb-3 block font-bold text-digiup-blue-300 md:mb-5;
      }
      ul {
        @apply flex flex-col gap-2 font-medium md:gap-4;
      }
    }
    .social {
      @apply flex gap-3;
      svg {
        @apply fill-digiup-blue-300 transition-all duration-300 ease-in-out;
        &:hover {
          @apply fill-digiup-blue-200;
        }
      }
    }
  }
  /* Sections */
  /* Hero */
  #hero {
    @apply h-full bg-contain bg-no-repeat;
    background-position-y: 70%;
    background-image: url('data:image/svg+xml,<svg width="1366" height="631" viewBox="0 0 1366 631" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1436.77 2.96421C1373.63 2.96421 1310.38 -5.7345 1254.43 29.123C1219.6 50.8211 1197.04 84.6507 1177.49 119.909C1152.83 164.385 1136 215.944 1097.32 249.164C1058.64 282.384 1010.8 302.45 963.449 313.176C906.067 326.174 851.686 288.042 812.96 249.472C765.365 202.069 731.892 137.723 731.098 69.4382C730.834 46.7514 748.139 21.66 772.337 18.8133C814.14 13.8953 820.238 138.915 821.269 163.302C822.622 195.329 824.484 229.893 814.498 260.859C793.692 325.375 694 348.5 678.849 352.03C663.697 355.56 560.5 382 460.5 398.5C360.5 415 244.971 405.47 145.21 437.892C94.6366 454.328 41.7666 484.945 9.03083 527.601C-16.0686 560.306 -16.0372 589.918 -19.436 629.005" stroke="url(%23paint0_linear_1_863)" stroke-width="4" stroke-linecap="round" stroke-dasharray="12 12"/><defs><linearGradient id="paint0_linear_1_863" x1="-19.0001" y1="528" x2="1388" y2="1.99998" gradientUnits="userSpaceOnUse"><stop stop-color="%2300A3F4" stop-opacity="0.42"/><stop offset="0.563099" stop-color="%2300A4F4" stop-opacity="0.11"/><stop offset="0.887261" stop-color="%2300A4F4" stop-opacity="0.6"/></linearGradient></defs></svg>');

    .graphic {
      @apply absolute -left-1 w-36;
      bottom: 0;
    }

    h2 {
      @apply mt-2;
    }
    .btn-hero {
      @apply flex w-fit items-center gap-3 rounded-xl bg-gradient-to-r from-digiup-light-blue-600 to-digiup-light-blue-200 px-5  py-2 text-xl font-bold leading-none text-white  transition-all duration-300 ease-in-out content-[""] md:px-9 md:py-5 md:text-2xl;
      background: linear-gradient(-76deg, var(--tw-gradient-stops));
      span {
        @apply fill-white transition-all duration-300 ease-in-out;
      }
      &:hover {
        @apply shadow-md drop-shadow-md;
        background: linear-gradient(311deg, var(--tw-gradient-stops));
        span {
          @apply translate-x-2 fill-yellow-300;
        }
      }
    }
    .hero-doctor {
      @apply flex justify-center;
      figure {
        @apply mt-10 -translate-y-4 scale-110 md:mt-0;
      }
    }
  }
  /* Services */
  #services {
    @apply py-10;
    .area-cards {
      @apply flex flex-col gap-10;
      .line {
        @apply flex w-full flex-col gap-10 md:flex-row;
      }

      .graphic1 {
        @apply absolute -top-6 z-10 w-36 md:-left-16;
      }
      .graphic2 {
        @apply absolute -bottom-6 right-0 z-10 w-36 md:-right-16;
      }
    }
  }
  /* Story */
  #story {
    @apply py-10;
  }
  /* Platform */
  #platform {
    .pointer {
      @apply relative mr-4 w-[52px];
      &::before {
        @apply absolute z-0 h-full w-[52px] content-[""];
        background: url('data:image/svg+xml,<svg width="2" height="117" viewBox="0 0 2 117" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L1.00001 116" stroke="%23B6E6FF" stroke-width="2" stroke-linecap="round" stroke-dasharray="8 8"/></svg>')
          no-repeat;
        background-position-x: center;
        background-position-y: bottom;
      }
      span {
        @apply relative z-10 flex h-[52px] w-[52px] items-center justify-center rounded-full bg-gradient-to-tl from-digiup-blue-400 to-digiup-light-blue-200 text-3xl font-bold text-white;
      }
    }
    .pointer-last {
      @apply relative mr-4 w-[52px];
      &::before {
        @apply absolute z-0 h-full w-[52px] content-[""];
      }
      span {
        @apply relative z-10 flex h-[52px] w-[52px] items-center justify-center rounded-full bg-gradient-to-tl from-digiup-blue-400 to-digiup-light-blue-200 text-3xl font-bold text-white;
      }
    }
    figure {
      img {
        @apply md:translate-x-10 md:scale-110;
      }
    }
  }
  /* Testimonials */
  #testimonials {
    @apply py-10;
    .area-cards {
      @apply flex flex-col gap-10;
      .line {
        @apply flex w-full flex-col gap-4 md:flex-row md:gap-20;
        .card {
          @apply py-7;
          .interna {
            @apply flex items-center gap-4;
            img {
              @apply min-w-20;
            }
          }
        }
      }

      .graphic1 {
        @apply absolute -top-14 -z-10 w-36 md:-left-12;
      }
      .graphic2 {
        @apply absolute -bottom-14 right-0 -z-10 w-36 md:-right-12;
      }
    }
    .big-number {
      .title {
        @apply bg-gradient-text from-digiup-light-blue-500 from-15% to-digiup-light-blue-600 bg-clip-text text-center text-3xl font-extrabold text-transparent md:text-5xl;
      }
      .subtitle {
        @apply text-center text-sm font-semibold text-gray-400;
      }
    }
  }
  /* Masters */
  #masters {
    @apply py-10;
    .area-cards {
      @apply flex justify-center py-4;
      .cols {
        @apply relative flex w-full flex-col gap-6 md:w-8/12 md:gap-20;
        .card {
          @apply p-0;
          &::after {
            @apply absolute left-0 top-0 h-full w-full rounded-[23px] bg-gradient-radial-appointment from-[#35BDFF] from-30% to-[#008CD0] to-90% content-[""];
          }
          .interna {
            @apply flex items-center gap-4 py-7 pl-10 pr-10 text-white md:pl-72 md:pr-10;
          }
          .doctor-big {
            @apply absolute bottom-0 left-0 z-20 hidden md:flex;
          }
        }
      }
      .btn {
        @apply bg-white px-5 py-4 text-xl font-semibold;
      }
      .graphic1 {
        @apply absolute -top-4 -z-10 w-36 md:-left-12;
      }
      .graphic2 {
        @apply absolute -bottom-4 right-0 -z-10 w-36 md:-right-20;
      }
    }
  }
  /* Help Desk */
  #helpdesk {
    @apply pb-20 pt-10;

    .btn {
      @apply px-5 py-4 text-lg;
    }
    label {
      @apply relative;
      .text-label {
        @apply absolute left-4 top-2 h-full;
        svg {
          @apply fill-digiup-blue-300;
        }
      }
      .form-input,
      .form-textarea {
        @apply mt-4 block w-full rounded-xl border-2 border-digiup-light-blue-200 bg-white p-[18px] pl-14 font-semibold placeholder:text-digiup-gray-100 focus:border-digiup-light-blue-100 focus:ring focus:ring-digiup-light-blue-200 focus:ring-opacity-50 md:w-[300px];
      }
    }
  }
}

@layer utilities {
}
